<!DOCTYPE html>
<html lang="en">
<head>
    <title>RATE MA DUG</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'bestboy/css/style.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    {% load socialaccount %}
</head>
<body>

<nav class="navbar navbar-dark navbar-expand bg-dark">
    <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">RATE MY DOG</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'vote' %}">Vote</a></li>
            <li class="nav-item"><a class="nav-link disabled" href="#">Upload</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">

            {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-link disabled" href="#"> Profile</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'account_logout' %}"> Log out</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'account_login' %}">Login</a></li>
            {% endif %}
        </ul>
    </div>
</nav>


<!-- content from specific pages is inserted between the block content tags -->
<div>
    {% block content %}
    {% endblock %}
</div>

<!-- <footer class="footer">
    <div class="container">
        <p class="text-muted" align="center"><br>
            Copyright ©
            <script type="text/javascript">
                var d = new Date()
                document.write(d.getFullYear())
            </script>
            RATE MA DUG</p>
    </div>
</footer> -->
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
        var pathname = window.location.pathname;
	    $('.nav > li > a[href="'+pathname+'"]').parent().addClass('active');
    })
	
</script>

</body>
</html>



