<!DOCTYPE html>
<html lang="en">

<head>
    <title>RATE MY DUG</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'bestboy/css/style.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">

    {% load socialaccount %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

<body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'vote' %}">Vote</a></li>
                    <li class="nav-item"><a class="nav-link disabled" href="#">Upload</a></li>
                </ul>
            </div>
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto" href="#">RATE MA DUG</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link disabled" href="#"> Profile {{ user.get_username }}</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'account_logout' %}"> Log out</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'account_login' %}">Login</a></li>
                {% endif %}
            </ul>
        </div>
        </nav>



    <!-- content from specific pages is inserted between the block content tags -->
    <div>
        {% block content %}
        {% endblock %}
    </div>

    <!-- <footer class="footer">
    <div class="container">
        <p class="text-muted" align="center"><br>
            Copyright ©
            <script type="text/javascript">
                var d = new Date()
                document.write(d.getFullYear())
            </script>
            RATE MA DUG</p>
    </div>
</footer> -->
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            var pathname = window.location.pathname;
            console.log(pathname);
            $('a[href="' + pathname + '"]').parent().addClass('active');
        })

    </script>

</body>

</html>