{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<style>
    img {
        max-width: 100%;
    }
</style>

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">{{ dog.name }}</h1>
        <p>wElcoMe to MY Page :3 :3</p>
    </div>
</div>

<div class="container">

    
    <img class="img-fluid mx-auto d-block" src="{% static dog.picture %}" />

</div>

<div class="container">
    <div class="row">
        <div class="col align-self-center" style="padding-top: 2%">
            </br>
            <p>This is {{ dog.name }}.</p>
            <p>They were uploaded by <a href="{% url 'profile' nameVal %}">{{ dog.owner }}</a>.</p>
            <p>They are a {{ dog.breed }} </p>    
        </div>
    </div>
</div>
<hr>

<div class="container">
    <div class="row">
        <div class="col align-self-center">
            {% for name,nameVal in comments.items %}
            <blockquote class="blockquote">
                    <p class="mb-0">{{ nameVal }}</p>
                    <footer class="blockquote-footer"><a href="{% url 'profile' name %}">{{ name }}</a></footer>
            </blockquote>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}