{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="topdog-title">
    <h2>
        TOP DUGS
    </h2>


    <table class="home-table">
        <tr>
            <td>
                <a href="#">
                    {% with 'bestboy/img/dog'|add:dog_id0|add:'.jpg' as image_path %}
                        <img style="display:block; margin-left:auto; margin-right:auto;" src="{% static image_path %}" />
                    {% endwith %}
                </a>
            </td>
            <td>
                <a href="#">{% with 'bestboy/img/dog'|add:dog_id1|add:'.jpg' as image_path %}
                        <img style="display:block; margin-left:auto; margin-right:auto;" src="{% static image_path %}" />
                    {% endwith %}
                 </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="#"> {% with 'bestboy/img/dog'|add:dog_id2|add:'.jpg' as image_path %}
                        <img style="display:block; margin-left:auto; margin-right:auto;" src="{% static image_path %}" />
                    {% endwith %}
                </a>
            </td>
            <td>
                <a href="#">
                    {% with 'bestboy/img/dog'|add:dog_id3|add:'.jpg' as image_path %}
                        <img style="display:block; margin-left:auto; margin-right:auto;" src="{% static image_path %}" />
                    {% endwith %}
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="#">
                    {% with 'bestboy/img/dog'|add:dog_id4|add:'.jpg' as image_path %}
                        <img style="display:block; margin-left:auto; margin-right:auto;" src="{% static image_path %}" />
                    {% endwith %}
                </a>
            </td>
            <td>
                <a href="#">
                    {% with 'bestboy/img/dog'|add:dog_id5|add:'.jpg' as image_path %}
                        <img style="display:block; margin-left:auto; margin-right:auto;" src="{% static image_path %}" />
                    {% endwith %}
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="#">
                    {% with 'bestboy/img/dog'|add:dog_id6|add:'.jpg' as image_path %}
                        <img style="display:block; margin-left:auto; margin-right:auto;" src="{% static image_path %}" />
                    {% endwith %}
                </a>
            </td>
            <td>
                <a href="#">
                    {% with 'bestboy/img/dog'|add:dog_id7|add:'.jpg' as image_path %}
                        <img style="display:block; margin-left:auto; margin-right:auto;" src="{% static image_path %}" />
                    {% endwith %}
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="#">
                    {% with 'bestboy/img/dog'|add:dog_id8|add:'.jpg' as image_path %}
                        <img style="display:block; margin-left:auto; margin-right:auto;" src="{% static image_path %}" />
                    {% endwith %}
                </a>
            </td>
            <td>
                <a href="#">
                    {% with 'bestboy/img/dog'|add:dog_id9|add:'.jpg' as image_path %}
                        <img style="display:block; margin-left:auto; margin-right:auto;" src="{% static image_path %}" />
                    {% endwith %}
                </a>
            </td>
        </tr>
    </table>
</div>


{% endblock %}