{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<style>
#main-body {
    padding: 2% 20%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    overflow: hidden;
}
.row1{
    margin:1%;
    grid-column-start: 1;
    grid-column-end: 2;
}
.row2{
    margin:1%;
    grid-column-start: 2;
    grid-column-end: 3;
    overflow: hidden;
}
img {
    object-fit: cover;
    width:230px;
    height:230px;
    padding: 1%;
    overflow: hidden;
}
</style>

<div id="main-body">
    {% for id,url in output.items %}
    {% with 'bestboy/img/dog'|add:url|add:'.jpg' as image_path %}
    <div id="{% cycle 'row1' 'row2' %}">
        <img class="rounded-circle mx-auto d-block" src="{% static image_path %}" />
    </div>
    {% endwith %}
    {% endfor %}
</div>



{% endblock %}