{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<style>
.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>Oops!</h1>
                <div class="error-details">
                    Sorry, there are no more dogs of this breed for you to vote on
                </div>
                <div class="error-actions">
                    <a href="{% url 'vote' %}" class="btn btn-primary btn-lg">Take Me Back To Vote </a>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}