{% extends "base.html" %}
{% load staticfiles%}

{% block content %}

<p>PROFILE PAGE</p>
<div class="jumobtron" style="background-color:#ED5656">
    <div class="container">
        <h1 class="display-3">{USERNAME}</h1>
        <p>{Some other text}</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <p>My top rated uploaded dogs</p>
        </div>
        <div class="col">
            <p>My favourite dogs</p>
        </div>
    </div>
</div>


{% endblock %}