{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<style>
    img {
        max-width: 100%;
    }
</style>
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Vote</h1>
        <p>Vote on dogs :3</p>
    </div>
</div>
<div class="container">

    {% for id,url in outputImg.items %}
    {% with url as image_path %}
    <img class="img-fluid mx-auto d-block" src="{% static image_path %}" />
    {% endwith %}
    {% endfor %}

</div>

<div class="container">
    <div class="row">
        <div class="col align-self-center" style="padding-top: 2%">
            <form method="post">
                {% csrf_token %}
                <style data="thumbStyle" type="text/css">
                </style>

                <input type="range" min="1" max="100" value="50" class="slider" id="rating">
        </div>
    </div>

    <div class="row">
        <div class="col align-self-center" style="padding-top: 2%">
            </br>
            <input type="hidden" , name="slider_value" , id="slider_value">
            <input type="hidden" , name="dog_id" , id="dog_id">

            {% for name,nameVal in dogInfo.items %}
            <p>This is {{ nameVal }}.</p>
            {% endfor %}

            {% for name,nameVal in ownerInfo.items %}
            <p>They were uploaded by <a href="{% url 'profile' nameVal %}">{{ nameVal }}</a>.</p>
            {% endfor %}

            <button type="button" class="btn btn-outline-success">Your rating: <span id="demoOutput"></span>/10</button>
        </div>
    </div>
</div>
<div class="container">
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col align-self-center">
                <div class="form-group">
                    <label class="mt-3" for="comment">Comment:</label>
                    {{ form.text }}
                    <textarea class="form-control" rows="5" name="comment" id="comment"
                        placeholder="Comments are not required, but still you should be nice :3 woof :)"></textarea>
                    <input class="btn btn-primary btn-lg mt-3" type="submit" value="Submit" />
                </div>
            </div>
        </div>
    </form>
</div>
<hr>

<div class="container">
    <div class="row">
        <div class="col align-self-center">
            {% for name,nameVal in comments.items %}
            <blockquote class="blockquote">
                    <p class="mb-0">{{ nameVal }}</p>
                    <footer class="blockquote-footer"><a href="{% url 'profile' nameVal %}">{{ name }}</a></footer>
            </blockquote>
            {% endfor %}
        </div>
    </div>
</div>

<script>
    var slider = document.getElementById("rating");
    var output = document.getElementById("demoOutput");
    var style = document.querySelector('[data="thumbStyle"]');

    setData(slider.value / 10);

    slider.oninput = function () {
        setData(this.value / 10);
    }

    function setData(x) {
        output.innerHTML = x;
        var size = 75 + x * 5;
        style.innerHTML = ".slider::-moz-range-thumb { width: " + size + "px !important; height: " + size + "px !important; background-position: center center; background-repeat: no-repeat; background-size: cover;} .slider::-webkit-slider-thumb { width: " + size + "px !important; height: " + size + "px !important; background-position: center center; background-repeat: no-repeat; background-size: cover;}";
        document.getElementById('slider_value').value = slider.value / 10;
    }
</script>


{% endblock %}