{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="vote-container">
    <div class="another-container">
        <div class="img-move">
            PREVIOUS
        </div>
        <div class="image-container">
            <img src="{% static 'bestboy/img/dog1.jpg' %}" style="display:block; margin-left:auto; margin-right:auto;">
        </div>
        <div class="img-move">
            NEXT
        </div>
    </div>
    <div class="slidecontainer">
            <style data="thumbStyle" type="text/css">
            </style>
            
            <input type="range" min="1" max="100" value="50" class="slider" id="rating">
            <p>Value: <span id="demoOutput"></span>/10</p>
    </div>
</div>



<script>
var slider = document.getElementById("rating");
var output = document.getElementById("demoOutput");
var style = document.querySelector('[data="thumbStyle"]');

setData(slider.value/10);

slider.oninput = function() {
    setData(this.value/10);
}

function setData(x){
    output.innerHTML = x;
    var size = 75+x*5;
    style.innerHTML = ".slider::-moz-range-thumb { width: " + size  + "px !important; height: " + size + "px !important; background-position: center center; background-repeat: no-repeat; background-size: cover;} .slider::-webkit-slider-thumb { width: " + size  + "px !important; height: " + size + "px !important; background-position: center center; background-repeat: no-repeat; background-size: cover;}";
    
}

</script>


{% endblock %}