li a {
	color:green;
}
#main-body {
	padding: 2% 20%;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 20% 20% 20% 20% 20%;
	overflow: hidden;
}

.row1 {
	margin: 1%;
	grid-column-start: 1;
	grid-column-end: 2;
}

.row2 {
	margin: 1%;
	grid-column-start: 2;
	grid-column-end: 3;
	overflow: hidden;
}
