html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.topdog-title {
    padding-top: 10px;
    padding-left: 10px;
}

.home-table {
    width: 80%;
    padding-left: 10px;
}

.home-table td {
    padding-top: 10px;
}

* {
    border-radius: 0 !important;
}
